# 파이썬 리스트

# 051~060

In [7]:
movie_rank = ["닥터 스트레인지","스필릿","럭키"]
movie_rank

['닥터 스트레인지', '스필릿', '럭키']

In [8]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스필릿', '럭키', '배트맨']

In [13]:
movie_rank = ["닥터 스트레인지","스플릿","럭키","배트맨"]
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [14]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [16]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove("스플릿")
movie_rank.remove("배트맨")
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [17]:
lang1 = ["C","C++","JAVA"]
lang2 = ["Python","Go","C#"]

langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [22]:
nums = [1,2,3,4,5,6,7]
print("max:",max(nums),"\nmin:",min(nums))

max: 7
min: 1

In [23]:
nums = [1,2,3,4,5]
total = sum(nums)
print(total)

15

In [24]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [28]:
nums = [1, 2, 3, 4, 5]
avg = sum(nums)/len(nums)
print(avg)

3.0

# 061 ~070

In [30]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [31]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[0::2]

[1, 3, 5, 7, 9]

In [32]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [38]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [46]:
interest = ['삼성전자', 'LG전자', 'Naver']
temp = interest[0]+" "+interest[2]
print(temp)

삼성전자 Naver

In [49]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [50]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [51]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [53]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [57]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플

# 021 ~ 080

In [58]:
my_variable = ()

In [60]:
movie_rank = ("닥터 스트레인지","스플릿","럭키")
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [62]:
number = (1,)
number

(1,)

In [63]:
t = (1, 2, 3)
t[0] = 'a'

#튜플의 요솟값은 변경 불가!

TypeError: 'tuple' object does not support item assignment

In [65]:
t = 1, 2, 3, 4
print(t)
print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

In [66]:
t = ('a', 'b', 'c')
t = ("A","b","C")
print(t)

('A', 'b', 'C')

In [67]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [68]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

#a >> apple 
#b >> banana 
#c >> cake

apple banana cake

In [73]:
nums = tuple(range(1,100))
even = nums[1::2]
print(even)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 파이썬 딕셔너리

# 081 ~ 090

In [75]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,a,b = scores
print("a:",a)
print("b:",b)
print("valid_score:",valid_score)

a: 7.8
b: 9.4
valid_score: [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [76]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,b,*valid_score = scores
print("a:",a)
print("b:",b)
print("valid_score:",valid_score)

a: 8.8
b: 8.9
valid_score: [8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [77]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [79]:
temp = {}

In [80]:
ice_cream = {"메로나":1000,"폴라포":1200,"빵빠레":1800}
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [82]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

price = ice["메로나"]
print("메로나 가격:",price)

메로나 가격: 1000

In [83]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [84]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

#key값으로 '누가바'가 존재하지 않는다.

# 091 ~ 100

In [86]:
inventory = {
    "메로나":(300,20),
    "비비빅":(400,3),
    "죠스바":(250,100)
}
print(inventory)

{'메로나': (300, 20), '비비빅': (400, 3), '죠스바': (250, 100)}

In [90]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0],"원")

300 원

In [91]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

data = inventory["메로나"][1]
print(data,"개")

20 개

In [92]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [94]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [95]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [96]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(sum(price))

6700

In [98]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [99]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [100]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}