# 151 ~ 160

In [1]:
리스트 = [3, -20, -3, 44]

for num in 리스트:
    if num < 0:
        print(num)

-20
-3

In [2]:
리스트 = [3, 100, 23, 44]

for num in 리스트:
    if num % 3 == 0:
        print(num)

3

In [3]:
리스트 = [13, 21, 12, 14, 30, 18]

for num in 리스트:
    if (num % 3 == 0) & (num < 20):
        print(num)

12
18

In [4]:
리스트 = ["I", "study", "python", "language", "!"]

for word in 리스트:
    if len(word) >= 3:
        print(word)

study
python
language

In [5]:
리스트 = ["A", "b", "c", "D"]

for word in 리스트:
    if word.isupper():
        print(word)

A
D

In [6]:
리스트 = ["A", "b", "c", "D"]

for word in 리스트:
    if word.islower():
        print(word)

b
c

In [8]:
리스트 = ['dog', 'cat', 'parrot']

for word in 리스트:
    word = word.replace(word[0],word[0].upper())
    print(word)

Dog
Cat
Parrot

In [10]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for word in 리스트: 
    word = word.split(".")
    print(word[0])

hello
ex01
intro

In [11]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for word in 리스트:
    temp = word.split(".")
    if temp[1] == "h":
        print(word)

intra.h
define.h

In [12]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for word in 리스트:
    temp = word.split(".")
    if (temp[1] == "h") or (temp[1] == "c"):
        print(word)

intra.h
intra.c
define.h

# 161 ~ 170

In [16]:
for i in range(0,100):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [19]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [18]:
for i in range(1,31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [20]:
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [21]:
for i in range(10):
    print("0.{}".format(str(i)))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [26]:
for i in range(1,10):
    print("3x{} = {}".format(str(i),3*i))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [27]:
for i in range(1,10):
    calcuate = 3*i
    if calcuate % 2 != 0:
        print("3x{} = {}".format(str(i),calcuate))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [34]:
add = 0
for i in range(1,11):
    add += i
print("합 :",add)

합 : 55

In [35]:
num = 0

for i in range(1,11):
    if i % 2 != 0:
        num += i
print("합:",num)

합: 25

In [38]:
num = 1

for i in range(1,11):
    num *= i
print(num)

3628800

# 171 ~ 180

In [39]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [40]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [43]:
#173

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print((len(price_list)-1) -i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [47]:
price_list = [32100, 32150, 32000, 32500]

for i in range(1,len(price_list)):
    print((100 + (10*(i-1))), price_list[i])

100 32150
110 32000
120 32500

In [52]:
my_list = ["가", "나", "다", "라"]

for i in range(1,len(my_list)):
    print(my_list[i-1],my_list[i])

가 나
나 다
다 라

In [54]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(2,len(my_list)):
    print(my_list[i-2],my_list[i-1],my_list[i])

가 나 다
나 다 라
다 라 마

In [55]:
my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list)):
    print(my_list[-i],my_list[-i-1])

라 다
다 나
나 가

In [57]:
my_list = [100, 200, 400, 800]

for i in range(1,len(my_list)):
    print(my_list[i]-my_list[i-1])

100
200
400

In [58]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(2,len(my_list)):
    average = (my_list[i]+my_list[i-1]+my_list[i-2]) / 3
    print(average)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [60]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    temp = high_prices[i]-low_prices[i]
    volatility.append(temp)
print(volatility)

[50, 100, 30, 80, 0]

# 181 ~ 190

In [63]:
apart = [
    ["101호","102호"],
    ["201호","202호"],
    ["301호","302호"]
]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [64]:
stock = [
    ["시가",100,200,300],
    ["종가",80,210,330]
]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [66]:
stock = {
    "시가" :[100,200,300],
    "종가" : [80,210,330]
}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [67]:
stock = {
    "10/10":[80,110,70,90],
    "10/11":[210,230,190,200]
}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [71]:
apart = [ [101, 102], [201, 202], [301, 302] ]

# 내가 짠 코드
for temp in apart:
    print(temp[0],"호")
    print(temp[1],"호")

#정답지 코드 
print("")  
for row in apart:
    for col in row:
        print(col,"호")

101 호
102 호
201 호
202 호
301 호
302 호

101 호
102 호
201 호
202 호
301 호
302 호

In [72]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [75]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [76]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,"호")
        print("----")

101 호
----
102 호
----
201 호
----
202 호
----
301 호
----
302 호
----

In [83]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [84]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

# 191 ~ 200

In [96]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for prices in data:
    for price in prices:
        print("{}.{}".format(price,round(price*0.014)))

2000.28
3050.43
2050.29
1980.28
7500.105
2050.29
2050.29
1980.28
15450.216
15050.211
15550.218
14900.209

In [98]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for prices in data:
    for price in prices:
        print("{}.{}".format(price,round(price*0.014)))
    print("----")

2000.28
3050.43
2050.29
1980.28
----
7500.105
2050.29
2050.29
1980.28
----
15450.216
15050.211
15550.218
14900.209
----

In [99]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

#내 코드
result = []
for prices in data:
    for price in prices:
        temp = "{}.{}".format(price,round(price*0.014))
        result.append(temp)
print(result)

#정답지
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

['2000.28', '3050.43', '2050.29', '1980.28', '7500.105', '2050.29', '2050.29', '1980.28', '15450.216', '15050.211', '15550.218', '14900.209']

In [103]:
result = []
for line in data:
    sub = []
    for column in line:
        sub.append([column * 1.00014])
    result.append(sub)
print(result)

[[[2000.28], [3050.427], [2050.2870000000003], [1980.2772]], [[7501.05], [2050.2870000000003], [2050.2870000000003], [1980.2772]], [[15452.163], [15052.107], [15552.177], [14902.086000000001]]]

In [121]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for row in ohlc[1:]:
    print(row[-1])

100
190
310

In [122]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    close = row[-1]
    if close > 150:
        print(close)

190
310

In [123]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for row in ohlc[1:]:
    CLOSE = row[-1]
    OPEN = row[0]
    if CLOSE >= OPEN:
        print(CLOSE)

100
310

In [124]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for row in ohlc[1:]:
    HIGH = row[1]
    LOW = row[2]
    volatility.append(HIGH-LOW)
print(volatility)

[40, 30, 10]

In [126]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for row in ohlc[1:]:
    HIGH = row[1]
    LOW = row[2]
    OPEN = row[0]
    CLOSE = row[3]
    volatility = HIGH-LOW
    if CLOSE > OPEN:
        print(volatility)

10

In [130]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

#내 코드,,,(틀렸다,,,!)
for row in ohlc[1:]:
    OPEN = row[0]
    CLOSE = row[3]
    income = OPEN - CLOSE

print(income)

#정답 코드
income = 0
for row in ohlc[1:]:
    income += (row[3]-row[0])
print(income)

-10
0