## 파일 입출력과 예외처리

#### 291

In [3]:
f = open("매수종목1.txt","w")

codes = ["005930","005380","035420"]

for code in codes:
    f.write(code+"\n")

f.close()

#### 292

In [13]:
f = open("매수종목2.txt","w")

data = {
    "005930":"삼성전자",
    "005380":"현대차",
    "035420":"NAVER"
}

for k in data:
    f.write(k+" "+data[k]+"\n")

f.close()

#### 293

In [15]:
import csv

f = open("매수종목.csv","w",encoding="cp949",newline="")

writer = csv.writer(f)
writer.writerow(["종목명","종목코드","PER"])
writer.writerow(["삼성전자","005930",15.59])
writer.writerow(["NAVER","035420",55.82])

f.close()

#### 294

In [21]:
f = open("매수종목1.txt","r")
lines = f.readlines()
codes = []
for line in lines:
    line = line.strip()
    codes.append(line)
    
print(codes)

['005930', '005380', '035420']

#### 295

In [25]:
f = open("매수종목2.txt","r")
lines = f.readlines()

data = {}

for line in lines:
    line = line.strip()
    line = line.split(" ")

    data[line[0]] = line[1]
    
print(data)

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

#### 296

In [26]:
per = ["10.31","","8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

#### 297

In [30]:
per = ["10.31","","8,00"]

new = [] 

for i in per:
    try:
        temp = float(i)
    except:
        temp = 0
    new.append(temp)
    
print(new)

[10.31, 0, 0]

#### 298

In [31]:
try:
    a = 5/0
except ZeroDivisionError:
    print("0으로 못 나눠용")

0으로 못 나눠용

#### 299

In [36]:
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as E:
        print(E)

1
2
3
list index out of range
list index out of range

#### 300

In [40]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("오류가 없어용")
    finally:
        print("실수로 성공적으로 변환했더용")

10.31
오류가 없어용
실수로 성공적으로 변환했더용
0
실수로 성공적으로 변환했더용
8.0
오류가 없어용
실수로 성공적으로 변환했더용

In [38]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료