# 21 ~ 50

### 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [1]:
letters = 'python'

In [11]:
num1 = letters[0]
num3 = letters[2]
print('첫번째 문자:',num1)
print("세번째 문자:",num3)

첫번째 문자: p
세번째 문자: t

### 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [13]:
license_plate = "24가 2210"

In [23]:
plate_slice = license_plate[-4:]
plate_slice

'2210'

### 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

In [25]:
string = "홀짝홀짝홀짝"

In [26]:
for i in range(len(string)):
    if string[i] == "홀":
        print(i)

0
2
4

In [27]:
print(string[0],string[2],string[4])

홀 홀 홀

### 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

#### ver1.

In [29]:
string = "PYTHON"

In [30]:
reverse_string = string[-1]+string[-2]+string[-3]+string[-4]+string[-5]+string[-6]
print(reverse_string)

NOHTYP

#### ver2.

In [31]:
string = "PYTHON"

In [32]:
print(string[::-1])

NOHTYP

#### ver3. revserse() 사용

In [34]:
string = "PYTHON"

In [35]:
string = list(string)
print(string)

['P', 'Y', 'T', 'H', 'O', 'N']

In [38]:
string.reverse()
print(string)

['N', 'O', 'H', 'T', 'Y', 'P']

In [39]:
print("".join(string))

NOHTYP

### 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [41]:
phone_number = "010-1111-2222"

In [43]:
print(phone_number.replace("-"," "))

010 1111 2222

### 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [44]:
print(phone_number.replace("-",""))

01011112222

### 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [46]:
url = "http://sharebook.kr"

In [49]:
split_url = url.split(".")
print(split_url[1])

kr

### 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

In [50]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
# immutable

### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [52]:
string = 'abcdfe2a354a32a'

In [53]:
print(string.replace('a','A'))

Abcdfe2A354A32A

### 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

In [54]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [55]:
string = 'abcd'
new_string = string.replace('b','B')
print(new_string)

aBcd

### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

In [56]:
a = "3"
b = "4"
print(a + b)

34

### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

In [57]:
print("Hi" * 3)

HiHiHi

### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

In [58]:
print("-"*80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java

In [61]:
t1 = "python"
t2 = "java"
add_t = t1 + " " + t2 + " "
print(add_t*4)

python java python java python java python java

### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

ex) 

이름: 김민수 나이: 10   
이름: 이철희 나이: 13

In [63]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [67]:
print("이름: %s 나이: %d" % (name1,age1))
print("이름: %s 나이: %d" % (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [69]:
print('이름: {} 나이: {}'.format(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [74]:
samsung = "5,969,782,550"

In [75]:
samsung = samsung.replace(",","")
int_samsung = int(samsung)
print(int_samsung)
print("type:",type(int_samsung))

5969782550
type: <class 'int'>

### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [77]:
분기 = "2020/03(E) (IFRS연결)"

In [82]:
text_list = 분기.split(" ")
date = text_list[0]
date = date.replace("(E)","")
print(date)

2020/03

In [84]:
text_list = 분기.split(" ")
date = text_list[0]
date[0:7]

'2020/03'

### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [90]:
data = "   삼성전자    "
data.replace(" ","")

'삼성전자'

### 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

In [91]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

### 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [92]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [93]:
string = "hello"
string.capitalize()

'Hello'

### 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [95]:
file_name = "보고서.xlsx"

In [96]:
file_name.endswith("xlsx")

True

### 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

In [97]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx"or"xls")

True

### 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [98]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

### 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [99]:
a = "hello world"
a.split(" ")

['hello', 'world']

### 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [100]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

### 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

In [102]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

### 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [103]:
data = "039490     "
data.rstrip()

'039490'