# 201 ~ 210

#### 201

In [3]:
def print_coin():
    print("비트코인")

#### 202

In [4]:
print_coin()

비트코인

#### 203

In [6]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

#### 204

In [8]:
def print_coins():
    for _ in range(100):
        print("비트코인")

#### 205
함수 hello()를 지정해주기 전에 함수 hello()를 호출했기 때문이다.

In [9]:
def hello():
    print("Hi")

hello()

Hi

#### 206
A       

B     

C     

A    

B

#### 207

In [ ]:
A
C
B

#### 208

In [ ]:
A
C
B
E
D

#### 209

In [ ]:
B
A

#### 210

In [ ]:
B
C
B
C
B
C
A

#### 211

In [ ]:
안녕
Hi

#### 212

In [ ]:
7
15

#### 213

매개변수 '문자열'에 값을 할당해 주지 않고 함수를 호출했기 때문!

#### 214

string와 int를 합칠 수 없다!

#### 215

In [12]:
def print_with_smile(string):
    string = string + ":D"
    print(string)

In [13]:
print_with_smile("Hello")

Hello:D

#### 216

In [14]:
print_with_smile("안녕하세요")

안녕하세요:D

#### 217

In [16]:
def print_upper_price(price):
    price = price * 1.3
    print(price)

In [17]:
print_upper_price(2000)

2600.0

#### 218

In [18]:
def print_sum(a,b):
    print(a+b)

In [19]:
print_sum(3,4)

7

#### 219

In [20]:
def print_arithmetic_operation(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    div = a / b
    print("{} + {} = {}".format(a,b,add))
    print("{} - {} = {}".format(a,b,sub))
    print("{} * {} = {}".format(a,b,mul))
    print("{} / {} = {}".format(a,b,div))

In [21]:
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

#### 220

In [22]:
def print_max(a,b,c):
    temp = 0
    if a > temp:
        temp = a
    if b > temp:
        temp = b
    if c > temp:
        temp = c
    print(temp)

In [23]:
print_max(2,5,19)

19

#### 221

In [3]:
def print_reverse(string):
    print(string[::-1])

In [4]:
print_reverse("python")

nohtyp

#### 222

In [5]:
def print_reverse(scores):
    avg_scores = sum(scores)/len(scores)
    print(avg_scores)

In [6]:
print_reverse([1,2,3])

2.0

#### 223

In [9]:
def print_even(data):
    for even in data:
        if even % 2 == 0:
            print(even)

In [10]:
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

#### 224

In [17]:
def print_keys(data):
    k = data.keys()
    for _ in k:
        print(_)

In [18]:
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

#### 225

In [19]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

In [20]:
def print_value_by_key(data, key):
    print(data[key])

In [21]:
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

#### 226

In [22]:
def print_5xn(string):
    cnt = int(len(string)/5)
    for i in range(cnt+1):
        print(string[i*5:i*5+5])

In [23]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [29]:
def printmxn(string,num):
    cnt = int(len(string)/num)
    for i in range(cnt+1):
        print(string[i*num:i*num+num])

In [30]:
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

#### 228

In [35]:
def calc_monthly_salary(annual_salary):
    monthly = annual_salary // 12
    print(monthly)

In [34]:
calc_monthly_salary(12000000)

1000000.0

#### 229

In [ ]:
왼쪽: 100
오른쪽: 200

#### 230

In [36]:
왼쪽: 200
오른쪽: 100

# 231 ~ 240

#### 231

In [ ]:
3
print(result)에 대해서는 에러 발생!

#### 232

In [41]:
def make_url(name):
    url = "www.{}.com".format(name)
    print(url)

In [42]:
make_url("naver")

www.naver.com

#### 233

In [46]:
def make_list(string):
    c_list = []
    for c in string:
        c_list.append(c)
    print(c_list)

In [47]:
make_list("abcd")

['a', 'b', 'c', 'd']

#### 234

In [48]:
def pickup_even(numbers):
    evens = []
    for n in numbers:
        if n % 2 == 0:
            evens.append(n)
    print(evens)

In [49]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

#### 235

In [50]:
def convert_int(string):
    temp = string.split(",")
    temp = int("".join(temp))
    print(temp)

In [52]:
convert_int("1,234,567")

1234567

#### 236

In [ ]:
a = 14
b = 18
c = 22

정답: 22

#### 237

In [ ]:
정답: 22

#### 238

In [ ]:
a = 14
c = 140

정답: 140

#### 239

In [ ]:
정답: 16

#### 240

In [ ]:
정답 : 28