# 01 ~ 20번

## 001 ~ 005 print 기초

In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print("신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다. "도둑이야".

In [8]:
"C:\Windows"

'C:\\Windows'

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n은 줄바꿈. \t는 tab!

## 006 ~ 010

In [11]:
print("오늘은","일요일")

오늘은 일요일

In [12]:
print("naver;"+"kakao;"+"sk;"+"samsung")

naver;kakao;sk;samsung

In [13]:
print("naver/"+"kakao/"+"sk/"+"samsung")

naver/kakao/sk/samsung

In [14]:
print("first");print("second")

first
second

In [15]:
print(5/3)

1.6666666666666667

## 011 ~ 020

In [17]:
삼성전자 = 50000

print(삼성전자*10)

500000

In [18]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [21]:
s = "hello"
t = "python"

print(s+"!",t)

hello! python

In [22]:
print(2+2*3)

8

In [23]:
a = 128
print(type(a))

<class 'int'>

In [24]:
a = "132"
print(type(a))

<class 'str'>

In [25]:
num_str = "720"
print(int(num_str))

720

In [27]:
num = 100
print(str(num))

100

In [29]:
string = "15.79"
print(float(string))

15.79

In [31]:
year = "2020"
year = int(year)
print(year-1,year-2,year-3)

2019 2018 2017

In [33]:
cost = 48584
total = cost*36
print(total)

1749024